body{
	margin: 0;
	font-family: Helvetica Neue;
	background-color: #EEEEEE;
}
#header{
	background: #000;
	font-size: 16px;
}
.page_header{
	padding: 16px 50px 0px;
	border-bottom: 1px solid #999999;
}
.orange {
	color: #FF6600;
}
.white{
	color: #FFFFFF;
}
.bold {
	font-weight: bold;
}
.left{
	float: left;
	display: inline-block;
}
.right{
	float: right;
	display: inline-block;
}
.border_left{
	border-left: 1px solid #999999;
}
.mainmenu{
	padding: 24px 50px 22px;
	overflow: auto;
}
.Master_Logo_RGB {
	width: 50px;
	height: 50px;
	float: left;
}
.menu-navi{
	list-style: none;
	padding: 0;
	margin: 0 0 0 40px;
	border-bottom: 1px solid #FFFFFF;
	float: left;
	overflow: auto;
}
.menu-navi li{
	min-width: 120px;
	display: inline-block;
	float: left;
	text-align: center;
}
.menu-navi li a{
	color: #FFFFFF;
	text-decoration: none;
	border-bottom: 3px solid #000000;
	padding: 20px 0 8px;
	display: inline-block;
	width: 100%;
}
.menu-navi li.active a, .menu-navi li a:hover{
	color: #FF6600;
	border-bottom: 3px solid #FF6600;
}
.user_box span{
	line-height: 45px;
	margin-right: 15px;
}
.icon {
	width: 30px;
	height: 30px;
	fill: #FFFFFF;
}
.Polygon_1 {
	width: 7px;
	height: 7px;
	transform: rotate(-88deg);
	transform-origin: center;
	fill: #70707A;
}
#page_container{
	background-color: #EEEEEE;
}
.title{
	font-size: 24px;
	font-weight: bold;
	padding: 50px 0 10px 50px;
	display: inline-block;
}
.page_body{
	background-color: #FFFFFF;
	border: 1px solid #999999;
	margin: 0 50px 20px;
}
#footer{
	min-height: 100px;
	background: #000000;
	color: #FFFFFF;
}
.cols-container {
	display: -ms-flex; display: -webkit-flex; display: flex;
	clear: both;
}
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10{
	position: relative;
	float: left;
	min-height: 1px;
	margin-bottom: 10px;
	align-items: stretch;
}
.col1{width: 10%; flex: 1;}
.col2{width: 20%; flex: 2;}
.col3{width: 30%; flex: 3;}
.col4{width: 40%; flex: 4;}
.col5{width: 50%; flex: 5;}
.col6{width: 60%; flex: 6;}
.col7{width: 70%; flex: 7;}
.col8{width: 80%; flex: 8;}
.col9{width: 90%; flex: 9;}
.col10{width: 100%; flex: 10;}
.back-btn{
	font-weight: bold;
	font-size: 10px;
	color: #70707A;
	text-decoration: none;
	padding: 10px;
	display: inline-block;
	
}

.btn-1{
	padding: 0 20px;
	height: 40px;
	white-space: nowrap;
	line-height: 20px;
	background-color: #fff;
	border-radius: 1px;
	border: 1px solid #000000;
	color: #000;
	cursor: pointer;
	margin: 0 10px;
}
.btn-1:hover{
	background-color: #000;
	color: #fff;
	cursor: pointer;
}
.search-input{
	width: 100%;
	height: 36px;
	border: 1px solid #666666;
	border-radius: 1px;
}
.search-input:focus, .search-input:active{
	border-color: #FF6600;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,121,0,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,121,0,.6);
}
.search-label{
	padding-top: 2%;
	position: relative;
	margin: 0 0px;
}
.search-label:after{
	content: "";
	position: absolute;
	width: 100%;
	display: block;
	height: 100%;
	background: url(loupe.png) no-repeat center;
}
.btn-2{
	width: 130px;	
	height: 40px;
	white-space: nowrap;
	display: block;
	background-color:rgba(255,122,0,1);
	border:none;
	color: #fff;
	cursor: pointer;
	margin: 0 3%;
	margin-top: 2%;	
}
.btn-2:hover{
	background-color: transparent;
	border: 1px solid #000000;
	color: #000;
	transition: 0.2s;
	cursor: pointer;
}
.Polygon_2{
	transform: rotate(180deg);
	transform-origin: center;
	fill: #FFFFFF;
	width: 8px;
	height: 6px;
	float: right;
	margin: 13px;
}

.form-group{
	border: 1px solid #cccccc;
	overflow-x: auto;
	margin: 5px 10px;
	padding: 20px;
}
.form-group label{
	text-align: right;
	padding-right: 10px;
	display: inline-block;
	font-weight: bold;
	height: 48px;
	line-height: 48px;
}
.form-group input[type=text]{
	display: block;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #999;
	/* border-radius: 4px; */
	outline: none;
}
.form-group input[type=text]:active, .form-group input[type=text]:focus{
	border-color: #FF6600;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,121,0,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,121,0,.6);
}

/* Logout Button*/

.logout-btn{
	margin-top: 0px;
	margin-left: 10px;
	background-color: transparent;
	border:1px #fff solid;
	color: #fff;
	height: 30px;
	cursor: pointer;
}

.center {
	text-align: center;
	display: block;
	margin-top: 15%;
	margin-left: 20%;
	color: rgba(112,112,112,1);
}

/* Switch to Desktop */
@media screen 
and (min-width: 849px){
	
	.desktop {
		display: block;
	}
	.mobile {
		display: none;
	}	
}
/* Switch to Desktop */

/* Switch to Mobile */
@media screen 
and (max-width: 849px){
	
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}	

	.left {
		margin-top: 10px;
	}

	.logout-btn {
		margin-top: 10px;
		margin-left: 10px;
		background-color: transparent;
		border:1px #fff solid;
		color: #fff;
		height: 30px;
		cursor: pointer;
		
	}
}
/* Switch to Mobile */

/* Mobile Version */

.m_btn-2 {
	
	height: 40px;
	white-space: nowrap;
	background-color:rgba(255,122,0,1);
	border:none;
	color: #fff;
	cursor: pointer;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	
}

.m_search-label {
	width: 200px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 10px;
}












/* Mobile Version */

